body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #87b9e6, #032a2c);
}

.app {
  text-align: center;
  padding: 50px;
  color: white;
}

.search-box input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.search-box button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
}

.error {
  color: yellow;
}